<section class="job-listings">

    <div class="container mx-auto px-6 flex flex-col  flex-wrap  lg:flex-nowrap lg:space-x-20">
        {{ if heading }}
        <h1 class="text-xl">{{ heading }}</h1>
        {{ else }}
        <h1 class="text-xl">Job Listings</h1>
        {{ /if }}

        <ul>

            {{ collection:jobs sort="date:desc" limit="{ max_items }" }}


            <div class="flex gap-16 items-start mb-5">
                <div class="w-[150px]">
                    {{ partial src="_parts/components/image"
                    :url="company_logo:url"
                    :alt="company_name"
                    :mobile_width="300px"
                    :desktop_width="300px"
                    :desktop_size="300px"
                    :loading="'lazy'"
                    }}

                </div>
                <div>
                    <a href="{{ url }}" class="text-xl font-semibold">
                        <h3>{{ title }}</h3>
                        <p class="text-sm text-gray-500">{{ location }} | {{ job_type limit="1" }}<span>{{ label
                                }}</span>
                            {{ /job_type }}</p>
                        <p>Location: {{ location }}</p>
                        <p>Salary: {{ salary_range }}</p>
                    </a>
                </div>
            </div>
            {{ /collection:jobs }}
        </ul>
    </div>
</section>